{% extends "index.html" %}
{% block content %}
<style>
    .ql-container {
        min-height: 250px !important;
    }
</style>
<new_post>
    <form role="form" class="form-thread" method="POST" enctype='multipart/form-data' action="{{url_for('home.edit_post', id=id)}}">
        <div class="header">
            {{editpost.csrf_token}}
            {{editpost.title}}
        </div>
        <br>
        <div class="body">{{editpost.text}}<div id="editor"></div></div>
        <div class="footer">
            <button type="submit" class="newpost">Post</button>
        </div>
    </form>
  </new_post>


{% endblock %}