{% extends "index.html" %}
{% block content %}
        <div class="articles">
            {% if request.MOBILE %}
            {% for success in get_flashed_messages(category_filter=["success"]) %}
                <alert-box type='success'>
                    <span class="alert-message">{{success}}</span>
                    <span class="alert-close" onclick="this.parentElement.style.display='none';">&times;</span>
                </alert-box>
                {% endfor %}
                {% for error in get_flashed_messages(category_filter=["error"]) %}
                <alert-box type='error'>
                    <span class="alert-message">{{error}}</span>
                    <span class="alert-close" onclick="this.parentElement.style.display='none';">&times;</span>
                </alert-box>
            {% endfor %}
            {% endif %}
            {% for post in posts %}
            {% if current_user.is_authenticated == False %}
            {% if loop.index == 3 %}
            {% endif %}
            {% endif %}
            {% if post.approved %}
            <div class="article-card" id="post_{{post.id}}">
                {% if post.thumbnail %}
                <div class="article-thumbnail" style="max-height:300px;overflow: hidden;">
                        <img
                          src="https://newapp.nl/static/thumbnail_post/post_{{post.id}}.jpeg" style="border-top-left-radius: 4px;
                          border-top-right-radius: 4px;object-fit: cover;">
                </div>
                {% endif %}
                <div class="article-main">
                <div class="article-author-image"><img class="profile_image"
                    src="{{post.user_in.avatar}}" height="50px" width="50px" title="profile image">
                </div>
                <div class="article-info">
                    <div class="article-title"><a href="{{url_for('home.post', id=post.id, title=post.title)}}"><h1 style="font-size: 1.5rem;
                        font-weight: 400;
                        margin: 0;">{{post.title}}</h1></a></div>
                    <div class="article-author">Author: <a href="{{url_for('users.user', name=post.user_in.name )}}">{{post.user_in.name}}</a></div>
                    <div class="article-tags">
                        <span>Tags: </span>
                        {% for tag in tags %}
                        {% if post.id in tag.post %}
                        <a href="{{url_for('home.home',tag_finder=tag.name)}}"><tag class="article-tag">{{tag.name}}</tag></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </div>
                <div class="article-footbar">
                <div class="article-date">Published on {{(post.posted_on.date()) }} {% if (((post.posted_on - now).days|string)[1:])|int > 1 %}({{((post.posted_on - now).days|string)[1:]}} days ago){% elif (post.posted_on - now).seconds|int / 3600 > 0 %} ({{ ((post.posted_on - now).seconds|int / 3600)|int }} hours ago){% else %}({{ ((post.posted_on - now).seconds|int / 60)|int }} min ago){% endif %}</div>
                <div class="article-misc">
                        <span class="article-readtime" style="
                        font-size: 0.8rem;
                        color: grey;
                        margin-right: 0.4rem;">
                            {% if post.read_time %}
                            {{ post.read_time }}
                            {% endif %}
                        </span>
                        {% if current_user.is_authenticated %}
                    <button class="article-save" id="save-{{post.id}}" onclick="Save_Post({{post.id}})">{% if post.id in current_user.saved_posts %}Saved{% else %}Save{% endif %}</button>
                    {% endif %}
                </div>
                </div>
            </div> 
            {% endif %}
            {% endfor %}
        </div>
    
{% endblock %}