{% extends "index.html" %}
{% block content %}
<style>
    .ql-container {
        min-height: 250px !important;
    }
</style>
<new_post>
    <form role="form" class="form-thread" method="POST"  enctype='multipart/form-data' action="{{url_for('home.home')}}">
        <div class="header">
            {{new_question.csrf_token}}
            {{new_question.title}}
            {{new_question.tag}}
            <small class="form-text text-muted">
                Separate tags with commas.
            </small>
            <br>
            Thumbnail: <input type="file" name="thumbnail">
        </div>
        <br>
        <div class="body">{{new_question.text}}<div id="editor"></div></div>
        <div class="footer">
            <button type="submit" class="newpost">Post</button>
        </div>
    </form>
  </new_post>

{% if current_user.is_authenticated %}
<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline'],
        ['blockquote', 'code-block'],
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],
        [{
            'color': []
        }, {
            'background': []
        }],
        [{
            'font': []
        }],
        [{
            'align': []
        }],
    ];

    function LoadQuill() {
        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
    }
    window.addEventListener("load", LoadQuill, false);
    window.addEventListener("load",function () {
        var submit_entry = function () {
        var hidden_text_field = document.getElementById('text');
        hidden_text_field.value = document.querySelector(".ql-editor").innerHTML
    }
    });
    window.addEventListener("load",function(){
    jQuery(document).ready(function() {
        jQuery(".form-thread").submit(function() { 
            var hidden_text_field = document.getElementById('text');
            hidden_text_field.value = document.querySelector(".ql-editor").innerHTML;
            console.log( document.querySelector(".ql-editor").innerHTML);
        });
    }); 
    });
</script>
{% endif %}
{% endblock %}