{% extends "index.html" %}
{% block content %}
<style>
    .ql-container {
        min-height: 250px !important;
    }
</style>
<new_post>
    <div class="newpost-info">
        <strong>Informations:</strong>
        <p>If you wanna start a discussion add <tag>discuss</tag> in the tags section</p>
        <p>If you wanna ask a question add <tag>help</tag> / <tag>question</tag> in the tags section</p>
        <p>If you wanna create a tutorial add <tag>tutorial</tag> / <tag>howto</tag> in the tags section</p>
    </div>
    <form role="form" class="form-thread" method="POST"  enctype='multipart/form-data' action="{{url_for('home.home')}}">
        <div class="header">
            {{new_question.csrf_token}}
            {{new_question.title(style="background: transparent !important;
            font-size: 2rem;")}}
            <div style="display: flex;">
            {{new_question.tag(style="border: var(--border);background-color:transparent;")}}
            <label for="file-upload" class="file-upload">
                <i class="fas fa-image" style="    vertical-align: sub;"></i>
            </label>
            <input type="file" id="file-upload" name="thumbnail" style="display: none">
        </div>
        </div>
        <br>
        <div class="body">{{new_question.text}}<div id="editor"></div></div>
        <div class="footer">
            <button type="submit" class="newpost">Post</button>
        </div>
    </form>
  </new_post>
{% endblock %}