{% extends "index.html" %}
{% block content %}


<style>
    .ql-syntax {
        background-color: #f0f0f0;
        color: #212529;
        overflow: visible;
    }

    pre {
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
    }

    pre {
        background-color: #f0f0f0;
        border-radius: 3px;
    }
</style>

<div class="row">
    <div class="col" style="min-width:310px;">
        
        <div class="info" style="display:flex;">
        <h4 style="margin-top: 1%">{{posts[0].title}}</h4>
        <div class="date" style="margin-inline-start: auto;">
        <h8 style="font-size: 12px;font-weight: 600;">Viewed: </h8>
        <h8 style="font-size: 12px;color: #6c757d;font-weight: 400;">{{posts[0].views}} times</h8>
        <br>
        <h8 style="font-size: 12px;font-weight: 600;">Asked on: </h8>
        <h8 style="font-size: 12px;color: #6c757d;font-weight: 400;">{{posts[0].posted_on}}</h8>
        </div>
        </div>

        <hr style="margin-top:1%;">

        {{posts[0].text | safe}}

        <br>
        <div class="info" style="display: flex">
            <div class="tags" style="float: left;
            text-align: left;">
                {% if tags %}
                Tags:
                {% for tag in tags %}
                <a href="{{url_for('home.home',tag_finder=tag.tag)}}" class="badge badge-success" style="font-size:13px;">{{tag.tag}}</a>
                {% endfor %}
                {% endif %}
            </div>
            <div class="author" style="
            
            margin-top: 5%;
            margin-inline-start: auto;
            border-radius: 5px;
            padding: 1%;
            background-color: rgb(239, 240, 241);">
                <img title="profile image" class="rounded-circle img-responsive" src="{{posts[0].user_in.avatar}}"
                    height="30px">
                <a style="color: #333"
                    href="{{url_for('users.user', name=posts[0].user_in.name, id=posts[0].user_in.id )}}">{{posts[0].user_in.name}}</a>
            </div>
        </div>
        <hr>
        <div class="reply">
            {% for replies in replyes %}
                {{replies.text | safe}}

                <br>
                <div class="info" style="display: flex">
                    <div class="author" style="
                
                margin-top: 5%;
                margin-inline-start: auto;
                border-radius: 5px;
                padding: 1%;
                background-color: rgb(239, 240, 241);">
                        <img title="profile image" class="rounded-circle img-responsive" src="{{replies.user_in.avatar}}"
                            height="30px">
                        <a style="color: #333"
                            href="{{url_for('users.user', name=replies.user_in.name, id=replies.user_in.id )}}">{{replies.user_in.name}}</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated %}
        <div class="post_reply">
        <form class="form-reply" id="reply" role="form" method="post" action="{{url_for('home.reply',id=posts[0].id)}}" >  
            <div class="editor" id="editor" style="margin-bottom:1%;"></div>
            {{reply.csrf_token}}
            {{reply.text}}
            {{reply.submit}}
            </form>
        </div>
        {% endif %}
    </div>
    <div class="col-md-3" style="min-width:310px;width:100%;">
        <div class="pop_post" style="line-height: 1.9;">
            <h4>Popular Posts</h4>
            
            {% for post in popular_posts %}
                <a style="color:#07C" href="{{url_for('home.post',id=post.id, title=post.title)}}">{{post.title}}</a><span class="badge badge-light" style="padding-left:3%;padding-right:3%;float:right;font-size: 13px;font-weight: 500;">{{post.views}}</span>
                <br>
            {% endfor %}
            
        </div>
        <hr>
        <div class="pop_tags" style="line-height: 1.9;">
            <h4>Popular Tags</h4>
            {% for tag in most_tags %}
                {% if tag.tag is not none %}
                    <a href="{{url_for('home.home',tag_finder=tag.tag)}}"><i class="fab fa-{{tag.tag}}"></i> <span class="badge badge-light" style="font-size: 12px;"> {{tag.tag}}</span></a>
                    <br>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>
<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline'],
        ['blockquote', 'code-block'],
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],
        [{
            'color': []
        }, {
            'background': []
        }],
        [{
            'font': []
        }],
        [{
            'align': []
        }],
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });
    var submit_entry = function () {

        // Get the contents of the text editor
        var hidden_text_field = document.getElementById('text');
        hidden_text_field.value = document.querySelector(".ql-editor").innerHTML
    }

    // Attach the onclick function to the submit button Flask-WTF creates
    var new_post_form = document.getElementsByClassName('form-reply')[0];
    new_post_form.onsubmit = submit_entry;
</script>
<script>
    $(document).ready(function () {
        titlepage();
    });

    function titlepage() {
        document.title = '{{posts[0].title}}'
    }
</script>
{% endblock %}