{% extends "index.html" %}
{% block content %}
<style>.article * p{padding: 0;margin: 0;}
content .sidebar#sidebar-right{
    position: -webkit-sticky;
    position: sticky;
    top: 3.2rem;
    align-self: flex-start;
  }</style>
<div class="article">
    <div class="post">
        {% if posts.thumbnail %}
        <div class="thumbnail">
            <img src="https://newapp.nl/static/thumbnail_post/post_{{posts.id}}.jpeg"  style='width: 100%;border-top-left-radius: 5px;
            border-top-right-radius: 5px;'>
        </div>
        {% endif %}
        <div class="content-post" style="padding:0.5rem;">
                <div class="info" style="display:flex;">
                        <h1 style="margin-top: 1%;font-weight: 400;">{{posts.title}}</h1>
                    </div>
                    <div class="post-author">
                        <img style="border-radius:50px;margin-right: 5px;" height="40px" width="40px"
                            src="{{posts.user_in.avatar}}">
                        <div class="author-info">
                            <a href="{{url_for('users.user', id=posts.user_in.id,name=posts.user_in.name)}}"><span class="author-name">{{posts.user_in.real_name}}</span></a>
                            <div class="post-tags">
                                {% if tags[0].name %}
                                {% for tag in tags %}
                                {% if tag.name %}
                                <a href="{{url_for('home.home',tag_finder=tag.name)}}" class="badge badge-success"
                                    style="font-size:13px;">
                                    <tag>{{tag.name}}</tag>
                                </a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="post_content">
                        {{posts.text | safe}}
                    </div>
                    <br>
                    {% if current_user.is_authenticated %}
                    <div class="user-actions">
                        <span onclick="Like_Post({{posts.id}})" style="cursor: pointer;"><i id="heart"
                                class="{% if posts.id in current_user.liked_posts %}fas{% else %}far{% endif %} fa-heart"></i>
                            Like</span>
                        <!-- <span style="cursor: pointer;"><i class="fas fa-share-alt"></i> Share</span> -->
                    </div>
                    <div class="user-actions-info">
                        <span><span id="hearts">{{posts.likes}}</span> Likes</span>
                    </div>
                    {% if posts.closed == False %}
                    <div class="post-reply" style="margin-top:3%;">
                        <form class="form-thread" id="reply" role="form" method="post"
                            action="{{url_for('home.reply',id=posts.id,title=posts.title)}}">
                            <div class="editor" id="editor" style="margin-bottom:1%;" minlength="0"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
                            {{reply.csrf_token}}
                            {{reply.text}}
                            <button class="reply-button" type="submit">Post Reply</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <p><i class="fas fa-lock"></i> Post closed by {{posts.closed_by_name()}} on {{posts.closed_on}}</p>
                        </div>
                    </div>
                    {% endif %}
        {% endif %}
        </div>
        
        
    </div>
    {% for replies in replyes %}
    <div class="reply" id="reply_{{replies.id}}">

        {{replies.text | safe}}

        <br>
        <div class="info" style="display: flex">
            <div  style="margin-inline-start: auto;display:flex;">
                {% if current_user.id == replies.user_in.id %}
                <div class="reply-actions">
                    <a href="{{url_for('jsons.delete_reply', id=replies.id)}}"><button>Delete</button></a>
                </div>
                {% endif %}
                <div id="reply_img_{{replies.user_in.id}}" class="author" style="
                    border-radius: 5px;
                    padding: 0.5rem;
                    background-color: rgb(239, 240, 241);
                    display: flex;">
                    <img style="border-radius:20px;margin-right: 5px;" height="35px" width="35px"
                        src="{{replies.user_in.avatar}}">
                    <div id="reply_name_{{replies.user_in.id}}" style="margin-top:-0.1rem;">
    
                        <a id="reply_name" style="color: #333;font-size: 1rem;"
                            href="{{url_for('users.user', name=replies.user_in.name, id=replies.user_in.id )}}">@{{replies.user_in.name}}</a>
                        <p style="font-size: 60%;opacity: 0.6;margin-bottom: 0;margin-top: 0;">
                            {% if replies.user_in.is_online %}
                            Online
                            {% else %}
                            Offline
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}

    <br>
    <p style="margin-top: 1rem; font-size:initial;color:var(--color);">Not the answer you're looking for? Browse other questions tagged
        {% if tags[0].name %}{% for tag in tags %}<a href="{{url_for('home.home',tag_finder=tag.name)}}"
            style="font-size:13px;margin-left:3px;"><tag>{{tag.name}}</tag> </a>{% endfor %}{% endif %}
        or <a href="{{url_for('home.home')}}" style="color:#18BC9C;"> ask your own question</a>.</p>
</div>
{% endblock %}