{% extends "index.html" %}
{% block content %}
<profile class="profile-page">
    <div class="profile-cover" {%if not user.cover %}style="background-color: #14947b;border: 1px solid #dddd;height:300px;"{% endif %}>
      {% if user.cover %}
      <img src="{{user.cover}}" alt="">
      {% endif %}
    </div>
    <div class="profile-main">
      <div class="sidebar-info">
        <div class="profile-image">
          <div><img src="{{user.avatar}}" alt=""></div>

          <div class="user-name" style="line-height: 1.7rem;">
            <h1 style="font-weight: 400;">{{user.real_name}}</h1>
            <h4 style="font-weight: 400;">@{{user.name}}</h4>
          </div>
        </div>
        {% if current_user.is_authenticated %}
        {% if current_user.id != user.id %}
        <div class="profile-actions">
          <button class="follow-user" onclick="Follow_User({{user.id}})" id="follow-user-{{user.id}}">{% if user.id in current_user.follow %}&#x2713 Following{% else %}Follow{% endif %}</button>
        </div>
        {% elif current_user.id == user.id %}
        <div class="profile-actions">
          <a href="{{url_for('users.settings', name=user.name)}}"><button class="follow-user">Settings</button></a>
        </div>
        {% endif %}
        {% endif %}
        <div class="widgets">
          <div class="profile-presentation">
            <div class="header"><i class="fa fa-globe"></i> Presentation</div>
            <div class="bio">{{user.bio}}</div>
            <div class="info">
              {% if user.profession != 'None' %}
              <p><i class="fas fa-briefcase"></i> Profession {{user.profession}}</p>
              {% endif %}
              <p><i class="fas fa-home"></i> From {{user.country_name}} <span class="flag-icon flag-icon-{{user.country_flag}}"></span></p>
              <p><i class="fas fa-clock"></i> Joined on {{user.join_date}}</p>
              <p><i class="fas fa-rss"></i> Followed by {{user.followed|length}} people</p>
            </div>
          </div>
          {% if user.int_tags[0] %}
          <div class="interesed-tags">
            <div class="header"><i class="fas fa-tags"></i> Interesed Tags</div>
            <div class="tags">
              {% for tag in user.int_tags %}
                    <a style="text-decoration: none;" title="{{tag}}" href="{{url_for('home.home',tag_finder=tag)}}"><span
                        style="font-size: 12px;"> {{ tag[0]|upper}}{{tag[1:] }}</span></a>
                        <br>
                    {% endfor %}
            </div>
          </div>
          {% endif %}
          {% if user.facebook or user.instagram or user.twitter or user.github or user.website %}
          <div class="social">
            <div class="header"><i class="fas fa-share-alt"></i> Social</div>
            <div class="links">
              {% if user.facebook %}
              <div style="margin-bottom: 0.3rem">
              <a style="text-decoration: none;"  href="{{user.facebook}}"><span
                style="font-size: 12px;"><i class="fab fa-facebook" style="font-size: 1rem;"></i> @{{user.facebook[25]|upper}}{{ user.facebook[26:] }}</span></a>
              </div>
              {% endif %}
              {% if user.instagram %}
              <div style="margin-bottom: 0.3rem">
              <a style="text-decoration: none;" href="{{user.instagram}}"><span
                style="font-size: 12px;"><i class="fab fa-instagram" style="font-size: 1rem;"></i> @{{user.instagram[26]|upper}}{{ user.instagram[27:] }}</span></a>
              </div>
              {% endif %}
              {% if user.twitter %}
              <div style="margin-bottom: 0.3rem">
              <a style="text-decoration: none;" href="{{user.twitter}}"><span
                style="font-size: 12px;"><i class="fab fa-twitter" style="font-size: 1rem;"></i> @{{user.twitter[20]|upper}}{{ user.twitter[21:] }}</span></a>
              </div>
              {% endif %}
              {% if user.github %}
              <div style="margin-bottom: 0.3rem">
              <a style="text-decoration: none;" href="{{user.github}}"><span
                style="font-size: 12px;"><i class="fab fa-github" style="font-size: 1rem;"></i> @{{user.github[19]|upper}}{{ user.github[20:] }}</span></a>
              </div>
              {% endif %}
              {% if user.website %}
              <div style="margin-bottom: 0.3rem">
                  <a style="text-decoration: none;" href="{{user.website}}"><span
                    style="font-size: 12px;"><i class="fa fa-globe" style="font-size: 1rem;"></i> {{user.website}}</span></a>
                    
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="sidebar-main">
        <div class="user-posts">
                {% for post in posts %}
                {% if post.approved %}
            <div class="article-card">

                <div class="article-main">
                  <div class="article-author-image"><img class="profile_image"
                    src="{{post.user_in.avatar}}" height="50px" width="50px" title="profile image">
                </div>
                <div class="article-info">
                  <div class="article-title"><a href="{{url_for('home.post', id=post.id, title=post.title)}}">{{post.title}}</a></div>
                  <div class="article-author">Author: <a href="{{url_for('users.user', name=post.user_in.name, id=post.user_in.id )}}">Danutu</a></div>
                  <div class="article-tags">
                        <span>Tags: </span>
                        {% for tag in tags %}
                        {% if post.id in tag.post %}
                        <a href="{{url_for('home.home',tag_finder=tag.name)}}"><tag class="article-tag">{{tag.name}}</tag></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </div>
                <div class="article-footbar">
                  <div class="article-date">Published on {{post.posted_on}}</div>

                </div>

            </div>
            {% endif %}
              {% endfor %}
        </div>
      </div>
      <div class="sidebar-right">
        <div class="widgets">
          <div class="user-follows">
            <div class="header">{{user.real_name}} Follows</div>
            <div class="users">
              {% for fllw in follow %}
              <div class="user-followed" id="user-1">
                  <div class="user-img"><img src="{{fllw.avatar}}" alt=""></div>
                  <a href="{{url_for('users.user',id=fllw.id,name=fllw.name)}}">
                  <div class="user-info">
                    <span>{{fllw.real_name}}</span>
                    <br>
                    <span style="font-size: 0.7rem;">@{{fllw.name}}</span>
                  </div>
                  </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </profile>

<script>
    window.addEventListener("load", function () {
        jQuery(document).ready(function() {
                jQuery("#customFile").change(function () {
                    var fileInput = document.getElementById('customFile');
                    var filename = document.getElementById('customName');
                    filename.innerHTML = fileInput.files[0].name;
                })

        });
    });
</script>
</div>

{% endblock %}
