{% extends "index.html" %}
{% block content %}
<form action="{{url_for('users.modify_profile', idm=user.id)}}" {% if request.MOBILE == False %}enctype='multipart/form-data'{% endif %} method="POST">
<profile class="profile-page">
  <div class="profile-cover" {%if not user.cover %}style="background-color: #14947b;border: 1px solid #dddd;height:300px;"{% endif %}>
    {% if user.cover %}
    <img src="{{user.cover}}" alt="">
    {% endif %}
  </div>
  <div class="profile-main">
    <div class="sidebar-info">
      <div class="profile-image">
        <div>
          <img src="{{user.avatar}}" alt="">
        </div>

        <div class="user-name" style="line-height: 1.7rem;">
          <h1 style="font-weight: 400;">{{user.real_name}}</h1>
            <h4 style="font-weight: 400;">@{{user.name}}</h4>
        </div>
      </div>
      <div class="profile-actions">
          <button type="submit" class="save-settings">Save</button>
      </div>
      <!-- <div class="widgets">
        <div class="settings-menu">
          <div class="header">Settings</div>
          <div class="settings">
            <button class="item" active>Profile</button>
          </div>
        </div>
      </div> -->
    </div>
    <div class="sidebar-main">
      <div class="edit-info">
        <div class="col-1" style="text-align:left;">
          Email:
          {{modify_prof.email(value=user.email)}}
          Real Name:
          {{modify_prof.realname(value=user.real_name)}}
          Bio:
          {{modify_prof.bio(value=user.bio)}}
          Profession:
          {{modify_prof.profession(value=user.profession)}}
          Instagram:
          {% if user.instagram is not none %}
          {{modify_prof.instagram(value=user.instagram)}}
          {% else %}
          {{modify_prof.instagram}}
          {% endif %}
          Facebook:
          {% if user.facebook is not none %}
          {{modify_prof.facebook(value=user.facebook)}}
          {% else %}
          {{modify_prof.facebook}}
          {% endif %}
          Twitter:
          {% if user.twitter is not none %}
          {{modify_prof.twitter(value=user.twitter)}}
          {% else %}
          {{modify_prof.twitter}}
          {% endif %}
          Github:
          {% if user.github is not none %}
          {{modify_prof.github(value=user.github)}}
          {% else %}
          {{modify_prof.github}}
          {% endif %}
          Website:
          {% if user.website is not none %}
          {{modify_prof.website(value=user.website)}}
          {% else %}
          {{modify_prof.website}}
          {% endif %}
        </div>
        <div class="col-2"  style="text-align:left;">
          {% if request.MOBILE == False %}
          Gender:
          {{modify_prof.genre(value=user.genre)}}
          <br>
          Avatar:
          <input type="file" name="avatarimg" value="">
          <br>
          Cover:
          <input type="file" name="coverimg" value="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</profile>
  </form>
{% endblock %}
