<!DOCTYPE html>
<html>

<head>
  <title>New App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
  <!-- include summernote css/js -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: .3rem 1rem !important;">
    <a class="navbar-brand" href="{{url_for('home.home')}}">New App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto col-md-5 nav-fill" style="padding-right: 0">
      <li class="nav-item">
          <div class="input-group mb-0">
              <input type="text" class="form-control form-control-sm" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-light btn-sm" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
              </div>
            </div>
          
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated == false %}
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer" data-toggle="modal" data-target="#login"><span
              class="fas fa-sign-in-alt"></span>
            Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" style="margin-bottom: 0" href="{{url_for('users.user',name=current_user.name,id=current_user.id)}}"> <img title="profile image" class="rounded-circle img-responsive"
            src="{{current_user.avatar}}" height="25px"> {{current_user.name}}</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"> <span class="fas fa-sign-out-alt"></span> Logout</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>

</header>

<body>
  <div class="container" id="cont" style="margin-top: 10px;">
    
    <script>
      $(document).ready(function () {
        // show the alert
        setTimeout(function () {
          $(".alert").alert('close');
        }, 2000);
      });
    </script>
     <script>
        function Create_Question() {
            var x = document.getElementById("create_question");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    <script>
      $(document).ready(function() {
        $('#summernote').summernote();
      });
    </script>
    {% for success in get_flashed_messages(category_filter=["success"]) %}
    <div class="alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
      <i class="far fa-check-circle"></i>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> {{success}}
    </div>
    {% endfor %}
    {% for error in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-danger alert-dismissible fade show" id="success-alert" role="alert">
      <i class="far fa-check-circle"></i>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{error}}
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    {% if current_user.is_authenticated == false %}
<div class="modal" id="register" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin" action="/register" role="form" method="POST">
                    {{register.csrf_token}}
                    {{register.username}}
                    <br>
                    {{register.realname}}
                    <br>
                    {{register.github}}
                    <br>
                    {{register.email}}
                    <br>
                    {{register.password}}
                    <br>
                    {{register.confirm_password}}
                    <br>
                    {{register.submit}}
                </form>
            </div>
            <div class="modal-footer">
                Already have an account? <a style="color:#E95420;cursor: pointer;margin-left: 5px;" data-toggle="modal"
                    data-dismiss="modal" data-target="#login"> Login here</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin" action="/login" role="form" method="POST">
                    {{register.csrf_token}}
                    {{login.username}}
                    <br>
                    {{login.password}}
                    <br>
                    {{login.submit}}
                </form>
            </div>
            <div class="modal-footer">
                You don t have an account? <a style="color:#E95420;cursor: pointer;margin-left: 5px;"
                    data-toggle="modal" data-dismiss="modal" data-target="#register"> Register here</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
  </div>
</body>

</html>