{% if current_user.is_authenticated == false %}
<modal id="register-modal">
    <div class="modal">
        <a href="#" class="close-modal" style='font-size: 0.7rem'>Close</a>
        <div class="modal-header">
            <img style="vertical-align: middle;" src="{{url_for('static', filename='logo.svg')}}" width="70"
                alt="">
            <br>
            <span style="color:var(--color)"><span style="color:#18BC9C;">New</span>App - Register</span>
        </div>
        <form role="form" method="post" action="{{url_for('users.register')}}">
            <div class="modal-content">
                {{register.username}}
                {{register.realname}}
                {{register.email}}
                {{register.password}}
                {{register.confirm_password}}
            </div>
            <div class="modal-footer">
                <span style="font-size: 0.6rem;color:var(--color);">Already have an account?<a href="#login-modal"> Login here</a></span>
                <button type="submit" class="modal-button">Register</button>
            </div>
        </form>
    </div>
</modal>
<modal id="login-modal">
    <div class="modal">
        <a href="#" class="close-modal" style='font-size: 0.7rem'>Close</a>
        <div class="modal-header">
            <img style="vertical-align: middle;" src="{{url_for('static', filename='logo.svg')}}" width="70"
                alt="">
            <br>
            <span style="color:var(--color)"><span style="color:#18BC9C;">New</span>App - Login</span>
        </div>
        <form role="form" method="post" action="{{url_for('users.login', url=request.path)}}">
            <div class="modal-content">
                {{login.username}}
                {{login.password}}
                <span style="font-size: 0.6rem;color:var(--color)">{{login.remember}} <span style="vertical-align: super;">Remember Me</span></span>
                <br>
                <span style="font-size: 0.6rem;color:var(--color)">Forgot password? <a href="#reset-password-modal">Click Here</a></span>
            </div>
            <div class="modal-footer">
                <span style="font-size: 0.6rem;color:var(--color)">You don`t have an account? <a href="#register-modal">Register
                        here</a></span>
                <button type="submit" class="modal-button">Login</button>
            </div>
        </form>
    </div>
</modal>
<modal id="reset-password-modal">
    <div class="modal">
        <a href="#" class="close-modal" style='font-size: 0.7rem'>Close</a>
        <div class="modal-header">
            <img style="vertical-align: middle;" src="{{url_for('static', filename='logo.svg')}}" width="70"
                alt="">
            <br>
            <span style="color: var(--color)"><span style="color:#18BC9C;">New</span>App - Reset</span>
        </div>
        <form role="form" method="post" action="{{url_for('users.reset_password')}}">
            <div class="modal-content">
                {{reset.email}}
            </div>
            <div class="modal-footer">
                <span style="font-size: 0.6rem;color:var(--color)">Already have an account?<a href="#login-modal"> Login here</a></span>
                <button type="submit" class="modal-button">Reset</button>
            </div>
        </form>
    </div>
</modal>
{% else %}
{% endif %}
