
{% if request.endpoint == 'home.home' %}
<div class="sidebar" id="sidebar-right">
    {% for success in get_flashed_messages(category_filter=["success"]) %}
    <alert-box type='success'>
        <span class="alert-message">{{success}}</span>
        <span class="alert-close" onclick="this.parentElement.style.display='none';">&times;</span>
    </alert-box>
    {% endfor %}
    {% for error in get_flashed_messages(category_filter=["error"]) %}
    <alert-box type='error'>
        <span class="alert-message">{{error}}</span>
        <span class="alert-close" onclick="this.parentElement.style.display='none';">&times;</span>
    </alert-box>
    {% endfor %}
    {% if current_user.is_authenticated == False %}
    <div class="widget" id="widget-register">
        <div class="logo">
                <img style="vertical-align: middle;margin-left: -1px;" src="https://newapp.nl/static/logo.svg" width="100" alt="">
        </div>
        <div class="moto">
            JOIN US
        </div>
        <div class="register">
            <a href="#register-modal">
                <button>REGISTER</button>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="widget" id="widget-trending-posts">
        <div class="widget-header">
            <div class="widget-title">Trending Posts 🔥</div>
            <button class="minimize-widget" id="minimize-widget-trending-sidebar"
                onclick="Minimize('sidebar','trending-posts')">-</button>
        </div>
        <div class="widget-list" id="widget-list-trending-posts-sidebar" style="display: block;">
            <div class="widget-item">
                <div class="text">
                    <a href="" id="trending-1" class="loading" style="height: 0.92em; width:100%;display: block;"></a>
                </div>
            </div>
            <div class="widget-item">
                <div class="text">
                    <a href="" id="trending-2" class="loading" style="height: 0.92em; width:100%;display: block;"></a>
                </div>
            </div>
            <div class="widget-item">
                <div class="text">
                    <a href="" id="trending-3" class="loading" style="height: 0.92em; width:100%;display: block;"></a>
                </div>
            </div>
            <div class="widget-item">
                <div class="text">
                    <a href="" id="trending-4" class="loading" style="height: 0.92em; width:100%;display: block;"></a>
                </div>
            </div>
            <div class="widget-item">
                <div class="text">
                    <a href="" id="trending-5" class="loading" style="height: 0.92em; width:100%;display: block;"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="widget" id="widget-popular-posts">
        <div class="widget-header">
            <div class="widget-title">Most Viewed Posts</div>
            <button class="minimize-widget" id="minimize-widget-popular-sidebar"
                onclick="Minimize('sidebar','popular-posts')">-</button>
        </div>
        <div class="widget-list" id="widget-list-popular-posts-sidebar" style="display: block;">
            {% for post in popular_posts %}
            <div class="widget-item">
                <div class="text">
                    <a
                        href="{{url_for('home.post',id=post.id, title=post.title)}}">{{post.title[:35]}}{% if post.title|length > 35 %}..{% endif %}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}
{% if request.endpoint == 'home.post' %}
<div class="sidebar" id="sidebar-right">
    {% if current_user.is_authenticated %}
    <div class="widget" id="pwa">
        <div class="widget-list">
            <div class="widget-item" style="display: flex;">
                <div class="text" style="line-height: 1.5;">Install our WebApp</div>
                <button class="widget-button" id="install_pwa" style="margin-inline-start: auto;">Install</button>
            </div>
        </div>
    </div>
    {% if current_user.roleinfo.edit_post_permission == True %}
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Post Actions</div>
        </div>
        <div class="widget-list">
            {% if current_user.roleinfo.close_post_permission == True %}
            {% if posts.closed == False %}
            <div class="widget-item" style="display: flex;justify-content: space-between;">
                <div class="text">Close Post</div>
                <form action="{{url_for('jsons.close_post', id=posts.id)}}">
                    <button class="widget-button">Close</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
            {% if current_user.roleinfo.delete_post_permission == True %}
            <div class="widget-item" style="display: flex;justify-content: space-between;">
                <div class="text">Delete Post</div>
                <form action="{{url_for('jsons.delete_post', id=posts.id)}}">
                    <button class="widget-button">Delete</button>
                </form>
            </div>
            {% endif %} 
            {% if current_user.roleinfo.edit_post_permission or current_user.id == posts.userinf.id %}
            <div class="widget-item" style="display: flex;justify-content: space-between;">
                    <div class="text" style="display:flex;white-space: nowrap;">Edit Post</div>
                    <a href="{{url_for('home.edit_post', id=posts.id)}}" style="margin: 0;width:0;display:contents"><button class="widget-button">Edit</button></a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="user-card" style="align-items: unset">
        <a href="{{url_for('users.user', name=posts.user_in.name )}}"
            style="margin-bottom:0.2rem;display: flex">
        <div class="user-image">
            <img class="profile_image" src="{{posts.user_in.avatar}}" height="50px" width="50px" {% if current_user.is_authenticated %}{% if current_user.id != posts.user_in.id %}style="margin-top: 0.3rem;"{% endif %}{% endif %} title="profile image">
        </div>
        
            <div class="user-info">
                <span style="display: flex;height:0.92em;">{{posts.user_in.real_name}}<span
                        class="dot_status"style="margin-left: 2%;height: 10px;width: 10px;margin-right: 0;margin-top: 4px;background-color:{{posts.user_in.status_color}};"></span></span>
                <span class="user-tag">@{{posts.user_in.name}}</span>
            </div>
        </a>
            {% if current_user.is_authenticated %}
            {% if current_user.id != posts.user_in.id %}
            <div class="profile-actions">
                <button class="follow-user" onclick="Follow_User({{posts.user_in.id}})"
                    id="follow-user-{{posts.user_in.id}}">{% if posts.user_in.id in current_user.follow %}&#x2713
                    Following{% else %}Follow{% endif %}</button>
            </div>
            {% endif %}
            {% endif %}
        
    </div>
    <div class="widget">
        <div class="widget-header">
            <div class="widget-">@{{posts.user_in.name}} Info:</div>
        </div>
        <div class="widget-list">
            {% if posts.user_in.profession != 'None' %}
            <div class="widget-item">
                <div class="text">
                    <span style="font-size: 0.8rem;"><i class="fal fa-briefcase"></i> Profession: {{posts.user_in.profession}}</span>
                </div>
            </div>
            {% endif %}
            <div class="widget-item">
                <div class="text">
                    <span style="font-size: 0.8rem;"><i class="fal fa-home"></i> Location: {{posts.user_in.country_name}} <span
                            class="flag-icon flag-icon-{{posts.user_in.country_flag}}"></span></span>
                </div>
            </div>
            <div class="widget-item">
                <div class="text">
                    <span style="font-size: 0.8rem;"><i class="na-clock"></i> Joined on: {{(posts.user_in.join_date.ctime()|string)[:-14]}} {{(posts.user_in.join_date.ctime()|string)[20:]}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="widget-header" style="border:none;">
            <div class="widget-title">More From {{posts.user_in.name}}</div>
        </div>
        <div class="widget-list" style="padding: 0.1rem;max-height: 550px;overflow: auto;">
            {% for post in post_from_user %}
            <div class="widget-post">
                <div class="post-header">
                    <img style="border-radius: 20px;margin-top: 0.25rem;" src="{{posts.user_in.avatar}}" height="40px"
                        width="40px">
                        
                    </div>
                <div class="post-footer" style="margin-left: 2%;">
                    <div class="post-title">
                        <a href="{{url_for('home.post',id=post.id, title=post.title)}}">
                                <span class="post-title">{{post.title}}</span>
                            </a>
                    </div>
                    <div class="post-tags">
                        {% for tag in tags_all %}
                        {% if post.id in tag.post %}
                        <a href="{{url_for('home.home',tag_finder=tag.name)}}"><tag class="article-tag">{{tag.name}}</tag></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
