{% if request.MOBILE == False %}
{% if request.endpoint == 'home.home' %}
<div class="sidebar" id="sidebar-left">
    {% if current_user.is_authenticated %}
    <div class="user-card">
        <div class="user-image">
            <img class="profile_image" src="{{current_user.avatar}}" height="50px" width="50px" title="profile image">
        </div>
        <div class="user-info">
            <span>{{current_user.real_name}}</span>
            <br>
            <span class="user-tag">@{{current_user.name}}</span>
        </div>
    </div>
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Navigation</div>
        </div>
        <div class="widget-list">
            <div class="widget-item">
                <div class="text"><a href="{{url_for('home.home', saved=true)}}"><img src="{{url_for('static', filename='bookmark.svg')}}" height="20px" width="20px"><span style="vertical-align: top;">Saved Posts</span></a></div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Customize your experience</div>
        </div>
        <div class="widget-list" style="max-height: 400px;overflow: auto;">
            {% if current_user.is_authenticated %}
            {% for tag in current_user.int_tags %}
            {% if tag %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag)}}">
                        #{{tag}}
                    </a>
                </div>
                <button class="widget-button" onclick="Follow_Tag('{{tag}}')" id="follow-tag-{{tag}}" style="margin-inline-start: auto;">Unfollow</button>
            </div>
            {% endif %}
            {% endfor %}
            <div class="widget-item" style="border-top: none;display: flex;background-color: #f3f3f3;">
                <div class="text">
                    Other Popular Tags
                </div>
            </div>
            {% endif %}
            {% for tag in tagi %}
            {% if current_user.is_authenticated %}
            {% if tag.tag not in current_user.int_tags %}
            {% if tag.name %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag.name)}}">
                        #{{tag.name}}
                    </a>
                </div>
                <button class="widget-button" onclick="Follow_Tag('{{tag.name}}')" id="follow-tag-{{tag.name}}" style="margin-inline-start: auto;">Follow</button>
            </div>
            {% endif %}
            {% endif %}
            {% else %}
            {% if tag.name %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag.name)}}">
                        #{{tag.name}}
                    </a>
                </div>
                
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
