{% if request.MOBILE == False %}
{% if request.endpoint == 'home.home' or request.endpoint == 'home.podcast' %}
<div class="sidebar" id="sidebar-left">
    {% if current_user.is_authenticated %}
    <div class="user-card">
        <a href="{{url_for('users.user', id=current_user.id, name=current_user.name)}}" style="display: flex;">
        <div class="user-image" style="margin-bottom:0;">
            <img class="profile_image" src="{{current_user.avatar}}" height="50px" width="50px" title="profile image">
        </div>
        <div class="user-info" style="margin-top: 0.3rem;">
            <span>{{current_user.real_name}}</span>
            <br>
            <span class="user-tag">@{{current_user.name}}</span>
        </div>
        </a>
    </div>
    {% endif %}
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Navigation</div>
        </div>
        <div class="widget-list">
            <div class="widget-item" id='posts-show'>
                <div class="text"><span class="section">Posts</span></div>
                <div class='multilevel' id='posts'>
                    {% if current_user.is_authenticated %}
                    <div class="widget-item">
                        <div class="text"><a href="{{url_for('home.home', saved=true)}}"><span class="section"><span style='color:#18BC9C'>•</span> Saved Posts</span></a></div>
                    </div>
                    <div class="widget-item">
                        <div class="text"><a href="{{url_for('home.home', feed='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> Feed</span></a></div>
                    </div>
                    {% endif %}
                    <div class="widget-item">
                            <div class="text"><a href="{{url_for('home.home', all='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> All</span></a></div>
                    </div>
                    <div class="widget-item">
                            <div class="text"><a href="{{url_for('home.home', questions='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> Questions</span></a></div>
                    </div>
                    <div class="widget-item">
                            <div class="text"><a href="{{url_for('home.home', discuss='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> Discuss</span></a></div>
                    </div>
                    <div class="widget-item">
                            <div class="text"><a href="{{url_for('home.home', tutorials='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> Tutorials</span></a></div>
                    </div>
                </div>
            </div>
            <div class="widget-item" id='podcasts-show'>
                <div class="text"><span class="section">Podcasts</span></div>
                <div class='multilevel' id='podcasts'>
                    {% if current_user.is_authenticated %}
                    <div class="widget-item">
                        <div class="text"><a href="{{url_for('home.podcast', saved=true)}}"><span class="section"><span style='color:#18BC9C'>•</span> Saved Podcasts</span></a></div>
                    </div>
                    <div class="widget-item">
                        <div class="text"><a href="{{url_for('home.podcast', feed='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> Feed</span></a></div>
                    </div>
                    {% endif %}
                    <div class="widget-item">
                        <div class="text"><a href="{{url_for('home.podcast', all='true')}}"><span class="section"><span style='color:#18BC9C'>•</span> All</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.endpoint == 'home.home' %}
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Customize your experience</div>
        </div>
        <div class="widget-list" style="max-height: 400px;overflow: auto;">
            {% if current_user.is_authenticated %}
            {% for tag in current_user.int_tags %}
            {% if tag %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag)}}">
                        #{{tag}}
                    </a>
                </div>
                <button class="widget-button" onclick="Follow_Tag('{{tag}}')" id="follow-tag-{{tag}}" style="margin-inline-start: auto;">Unfollow</button>
            </div>
            {% endif %}
            {% endfor %}
            <div class="widget-item" style="border-top: none;display: flex;background-color: var(--body-bg);">
                <div class="text">
                    Other Popular Tags
                </div>
            </div>
            {% endif %}
            {% for tag in most_tags %}
            {% if current_user.is_authenticated %}
            {% if tag.tag not in current_user.int_tags %}
            {% if tag.name %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag.name)}}">
                        #{{tag.name}}
                    </a>
                </div>
                <button class="widget-button" onclick="Follow_Tag('{{tag.name}}')" id="follow-tag-{{tag.name}}" style="margin-inline-start: auto;">Follow</button>
            </div>
            {% endif %}
            {% endif %}
            {% else %}
            {% if tag.name %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag.name)}}">
                        #{{tag.name}}
                    </a>
                </div>
                
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endif %}