<div class="col-md-3" style="min-width:310px;width:100%;">
    <div class="pop_post" style="line-height: 1.9;">
        <h4>Popular Posts</h4>

        {% for post in popular_posts %}
        <div>
        <a style="color:#07C;font-size: 90%;" title="{{post.title}}" href="{{url_for('home.post',id=post.id, title=post.title)}}">{{post.title[:38]}}{% if post.title|length > 38 %}..{% endif %}</a><span
            class="badge badge-light"
            style="padding-left:3%;padding-right:3%;float:right;font-size: 13px;font-weight: 500;">{{post.unique_views()}}</span>
        </div>
        
        {% endfor %}

    </div>
    <hr>
    <div class="pop_tags" style="line-height: 1.9;">
        <h4>Popular Tags</h4>
        {% for tag in most_tags %}
        {% if tag.tag is not none %}
        <a style="text-decoration: none;" title="{{tag.tag}}" href="{{url_for('home.home',tag_finder=tag.tag)}}"><span
                class="badge badge-light" style="font-size: 12px;"> {{tag.tag}}</span></a>
        <br>
        {% endif %}
        {% endfor %}

    </div>
</div>