<wrapper class="sidebar" id="wrapper-left" style="display: block;">
    {% if current_user.is_authenticated %}
    <div class="user-card">
            <a href="{{url_for('users.user', id=current_user.id, name=current_user.name)}}" style="display: flex;">
                    <div class="user-image" style="margin-bottom:0;">
                        <img class="profile_image" src="{{current_user.avatar}}" height="50px" width="50px" title="profile image">
                    </div>
                    <div class="user-info" style="margin-top: 0.3rem;">
                        <span>{{current_user.real_name}}</span>
                        <br>
                        <span class="user-tag">@{{current_user.name}}</span>
                    </div>
                    </a>
    </div>
    {% endif %}
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Navigation</div>
        </div>
        <div class="widget-list">
            {% if current_user.is_authenticated %}
            <div class="widget-item">
                <div class="text"><a href="{{url_for('home.home', saved=true)}}"><span class="section">Saved Posts</span></a></div>
            </div>
            <div class="widget-item">
                <div class="text"><a href="{{url_for('home.home', feed='true')}}"><span class="section">Feed</span></a></div>
            </div>
            {% endif %}
            <div class="widget-item">
                    <div class="text"><a href="{{url_for('home.home', all='true')}}"><span class="section">All</span></a></div>
            </div>
            <div class="widget-item">
                    <div class="text"><a href="{{url_for('home.home', questions='true')}}"><span class="section">Questions</span></a></div>
            </div>
            <div class="widget-item">
                    <div class="text"><a href="{{url_for('home.home', discuss='true')}}"><span class="section">Discuss</span></a></div>
            </div>
            <div class="widget-item">
                    <div class="text"><a href="{{url_for('home.home', tutorials='true')}}"><span class="section">Tutorials</span></a></div>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="widget-header">
            <div class="widget-title">Customize your experience</div>
        </div>
        <div class="widget-list" style="overflow: auto;">
            {% if current_user.is_authenticated %}
            {% for tag in current_user.int_tags %}
            {% if tag  %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag)}}">
                        #{{tag}}
                    </a>
                </div>
                <button class="widget-button" onclick="Follow_Tag('{{tag}}')" id="follow-tag-{{tag}}" style="margin-inline-start: auto;">Unfollow</button>
            </div>
            {% endif %}
            {% endfor %}
            <div class="widget-item" style="border-top: none;display: flex;background-color: var(--body-bg);">
                <div class="text">
                    Other Popular Tags
                </div>
            </div>
            {% endif %}
            {% for tag in tagi %}
            {% if current_user.is_authenticated %}
            {% if tag.tag not in current_user.int_tags %}
            {% if tag.name and tag.name != 'discuss' and tag.name != 'howto' and tag.name != 'tutorial' and tag.name != 'how_to' and tag.name != 'tutorials' %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag.name)}}">
                        #{{tag.name}}
                    </a>
                </div>
                <button class="widget-button" onclick="Follow_Tag('{{tag.name}}')" id="follow-tag-{{tag.name}}" style="margin-inline-start: auto;">Follow</button>
            </div>
            {% endif %}
            {% endif %}
            {% else %}
            {% if tag.name and tag.name != 'discuss' and tag.name != 'howto' and tag.name != 'tutorial' and tag.name != 'how_to' and tag.name != 'tutorials' %}
            <div class="widget-item" id="widget-tags" style="border-top: none;display: flex;">
                <div class="text">
                    <a style="text-decoration: underline;" href="{{url_for('home.home',tag_finder=tag.name)}}">
                        #{{tag.name}}
                    </a>
                </div>
                
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</wrapper>